.level-Up-Design-Unreal-Engine-5-Game-1-hex { color: #040DBF; }
.level-Up-Design-Unreal-Engine-5-Game-2-hex { color: #020873; }
.level-Up-Design-Unreal-Engine-5-Game-3-hex { color: #020659; }
.level-Up-Design-Unreal-Engine-5-Game-4-hex { color: #010326; }
.level-Up-Design-Unreal-Engine-5-Game-5-hex { color: #056CF2; }

/* https://www.schemecolor.com/trendy-blue-black.php */

.level-Up-Design-Unreal-Engine-5-Game-1-hex { color: #0F4DCA; }
.level-Up-Design-Unreal-Engine-5-Game-2-hex { color: #1B94FF }
.level-Up-Design-Unreal-Engine-5-Game-3-hex { color: #00D2FF }
.level-Up-Design-Unreal-Engine-5-Game-4-hex { color: #0D112B; }
.level-Up-Design-Unreal-Engine-5-Game-5-hex { color: #000000; }

*{
	font-family: 'IBM Plex Serif', serif;
}

body {
    background-color: black;
}

nav {
    margin-top: -12px;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 40px;
    
}

.favicon {
    position: absolute;
    width: 3%;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
}

p {
    position: absolute;
    color: #1B94FF;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 1%;
}

ul {
    display: flex;
    list-style-type: none;    
    justify-content: flex-end;
}

li a {
    text-decoration: none;
    color: #056CF2;
    font-size: 25px;
    display: inline-block;
    padding: 15px 50px 15px;
}

li a:hover {
    color: white;
}

/* Introduction */
.intro {
    position: relative;
    display: flex;
}

.hacker {
    opacity: 0.05;
    width: 100%;
    height: 700px;
}

.intro-images {
    position: absolute;
    display: inline-flex;
    margin-left: 22.5%;
}

.intro-text {
    display: inline-flex;
    position: absolute;
    color: lightblue;
    font-weight: bold;
    font-size: 50px;
    margin-left: -20%;
}

.smallText {
    margin-top: 20%;
}

.ghost {
    height: 700px;
    max-width: max-content;
    opacity: 0.3;
}

.me {
    width: 25%;
    height: auto;
    margin-left: 20%;
    margin-top: 10%;
}

.text {
    color: white;
    margin-top: 5%;
    animation: text 1s ease-in-out infinite alternate;
}

@keyframes text {
    from {
        text-shadow:
        0 0 5px #0F4DCA,0 0 10px #0F4DCA,
        0 0 20px #0F4DCA, 0 0 40px #0F4DCA;
        
    }
      to {
        text-shadow:
        0 0 5px black, 0 0 10px black,
        0 0 20px black, 0 0 40px black;
        
    }
}

.encourageScrollDown {
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.arrow {
    width: 10%;
    height: auto;
    opacity: 0.1;
}

.intro {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

nav{
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

html {
    scroll-behavior: smooth;
}

/* Work Experience */
h2 {
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #007AF0;
    font-size: 30px;
    font-weight: bolder;
}

/* The first swirl */
.swirl0, .swirl1, .swirl2, .swirl3, .swirl4 {
    position: relative;
}

.swirlimg0, .swirlimg1, .swirlimg2, .swirlimg3, .swirlimg4 {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.swirlimg0 {
    transform: scaleY(-1);
}

.swirlimg1 {
    margin-top: -0.32rem; 
}

.swirl1 {
    z-index: -1;
}

.wELegend {
    position: absolute;
    margin-left: 7.5%;
    margin-top: -58%;
}

.legendul{
    display: flex;
    flex-direction: column;
    margin-top: -10%
}

.legendli{
    color:#00D2FF;
    font-size: xx-large;
    list-style-type: disc;
}

.title {
    position: absolute;
    display: block;
    margin-left: 36%;
    margin-top: -22.5%;
    margin-right: 15%;
}

.cityOfTorontoLogo {
    width: 200px;
    height: auto;
    margin-left: 52.5%;
    margin-bottom: -16%;
    border-radius: 50%;
}

.weul {
    display: flex;
    flex-direction: column;
    margin-top: -6%
}

.weli {
    color:#1B94FF;
    font-size: x-large;
    list-style-type: disc;
}

.educationAssistant {
    width: 55%;
    height: auto;
    float: right;
    margin-right: 10%;
    margin-top: 0.5%;
}

.teamwork {
    width: 40%;
    height: auto;
    margin-left: 35%;
    margin-top: -4%;
}

.whiteLine-2 {
    position: absolute;
    width: 47.5%;
    height: auto;
    margin-left: 10%;
    margin-top: -62.5%;
    transform: rotate(20deg);
}

.whiteLine-1 {
    position: absolute;
    width: 25%;
    height: auto;
    margin-left: -25%;
    margin-top: -42.5%;
    transform: rotate(20deg);
}

.year {
    color: #00D2FF;
    font-size: 25px;
    font-weight: bold;
    margin-left: -24.5%;
    margin-top: -45.5%;
    transform: rotate(20deg);
}

.whiteLine {
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 0%;
    margin-top: 45%;
    transform: rotate(160deg);
}

/* Bayview Glen */
.swirlimg2 {
    transform: scaleY(-1);
    margin-top: -6px;
}

.year1 {
    color: #00D2FF;
    font-size: 25px;
    font-weight: bold;
    margin-top: -31%; 
    margin-left: 40%;
    transform: rotate(340deg);
}

h4 {
    font-size:50px;
    color: white;
}

.bvg {
    position: absolute;
    margin-top: -72.5%;
    margin-left: 7.5%;
}

.bvgul{
    display: flex;
    flex-direction: column;
    margin-right: 55%;
    margin-top: -3%
}

.bvgli {
    color:#1B94FF;
    font-size: x-large;
    list-style-type: disc;
}

.bvgPortrait {
    width: 25%;
    height: auto;
    margin-left: 46%;
    margin-top: -50%;
}

/* Idealogical Systems */
.whiteLine2 {
    position: absolute;
    width: 20%;
    height: auto;
    margin-top: -30%;
    margin-left: 38%;
    transform: rotate(160deg);
}

.ideaLogo {
    position: absolute;
    margin-top: -80%;
    margin-left: 65%;
}

.whiteLine3 {
    position: absolute;
    width: 20%;
    height: auto;
    margin-top: -86%;
    margin-left: 45%;
    transform: rotate(20deg);
}

.year2{
    position: absolute;
    color: #00D2FF;
    font-size: 25px;
    font-weight: bold;
    margin-top: -37.25%;
    margin-left: -22.5%;
    transform: rotate(20deg);
}

.whiteLine4 {
    position: absolute;
    width: 12.5%;
    height: auto;
    margin-top: -75%;
    margin-left: 22.5%;
    transform: rotate(20deg);
}



.ideaSys {
    position: absolute;
    margin-top: -76%;
    margin-left: 35%;
    margin-right: 10%
}

.swirlimg3 {
    margin-top: -6px;
}

.isul {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    margin-right: 10%;
}

.isli {
    color:#1B94FF;
    font-size: x-large;
    list-style-type: disc;
}

.defIT {
    margin-left: 35%;
}

.whiteLine5 {
    position: absolute;
    width: 30%;
    height: auto;
    margin-top: 50%;
    margin-left: -60%;
    transform: rotate(160deg);
}

/* Quadient */
.swirlimg4 {
    transform: scaleY(-1);
    margin-top: -6px;
}

.quadient {
    position: absolute;
    margin-top: -15%;
    margin-left: 12.5%;
}

.quadul {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    margin-right: 25%;
}

.quadli {
    color:#1B94FF;
    font-size: x-large;
    list-style-type: disc;
}

.year3{
    position: absolute;
    color: #00D2FF;
    font-size: 25px;
    font-weight: bold;
    margin-top: -22.75%;
    margin-left: 68%;
    transform: rotate(340deg);
}

.quadLogo {
    position: absolute;
    margin-left: 75%;
    margin-top: -15%;
    width: 15%;
    height: auto;
}

.whiteLine6 {
    position: absolute;
    width: 17.5%;
    height: auto;
    margin-top: -20%;
    margin-left: 68%;
    transform: rotate(160deg);
}

.swirl4 {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    margin-top: -5px;
}


.swirl4 img {
    width: 100%;
}

.swirl4::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0, black 100%);
    top: 0;
    height: 200px;
    width: 100%;
    content: '';
}

.codingul {
    display: flex;
    flex-direction: column;
    margin-top: -3.5%;
}

.codingli {
    color:#1B94FF;
    font-size: x-large;
    list-style-type: disc;
}

.contact, .projects, .certifications, .awards {
    margin-left: 10%;
    margin-right: 10%;
}


/* Volunteer Experience */

.vE{
    display: flex;
    position: relative;
    margin-left: 10%;
    
}

.bg {
    z-index: -1;
    position: absolute;
    display: flex;
    margin-left: 3.5%;
    margin-top: -70%;
}

.gradient {
    opacity: 0.6;
    width: 87rem;
    height: 135rem;
}

.helpingHands {
    width: 80%;
    height: auto;
    opacity: 0.1;
    transform: rotate(90deg)
}

.vETitle {
    margin-left: 17.5%;
    margin-top: -65%;
}

.codingTitle {
    margin-top: -3%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
}

.codingClub {
    display: inline;
    position: absolute;
    place-self: center;
    margin-top: -10%;
    max-width: 100%;
    margin-left: 10%;
}

p1 {
    position: absolute;
    margin-top: -1%;
    color: #00D2FF;
    font-size: 25px;
}

.year4 {
    margin-left: 73%;
}
    
.stRobert {
    width: 15%;
    height: auto;
    margin-left: 74.5%;
    margin-top: 2.5%;
}

.python, .htmlAndCss {
    position: absolute;
}

.python {
    margin-top: 3%;
    margin-left: -70%;
    width: 7.5%;
    height: auto;
}

.htmlAndCss {
    margin-left: -73.75%;
    margin-top: 8.5%;
    width: 15%;
    height: auto;
    clip: rect(30px, 200px, 200px, 0px);
}

.ymca {
    position: absolute;
    margin-top: 50%;
    margin-left: 16%
}

.year5 {
    margin-top: 2%;
    margin-left: 58.5%
}

.ymcaLogo {
    width: 13.5%;
    height: auto;
    margin-top: 5%;
    margin-left: 59.25%;
}

.shoppingCart {
    width: 20%;
    height: auto;
}

/* Projects */
.circuits {
    width: 40%;
    height: auto;
}

/* Certifications */
.lifeSaving {
    width: 40%;
    height: auto;
}

#phcd {
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: auto;
}

#phcd:hover {opacity: 0.7;}

/* Awards */
#academicAchievement {
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: auto;
}

#academicAchievement:hover {opacity: 0.7;}

#hallOfFame {
    cursor: pointer;
    transition: 0.3s;
    width: 20%;
    height: auto;
}

#hallOfFame:hover {opacity: 0.7;}

.hRoll {
    width: 30%;
    height: auto;
}

#lifeSaving {
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: auto;
}

#lifeSaving:hover {opacity: 0.7;}

/* Contact */
.ending {
    display: inline-block
}

.clouds {
    width: 40%;
    height: auto;
    margin-left: 10%;
}
  
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
    width: 100%; 
    }
}

.scrollFade {
    opacity: 1;
    pointer-events: all;
}
  
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--animate {
    transition: opacity 0.4s ease-in-out;
  }

  .ending {
    text-align: center;
  }