.level-Up-Design-Unreal-Engine-5-Game-1-hex { color: #040DBF; }
.level-Up-Design-Unreal-Engine-5-Game-2-hex { color: #020873; }
.level-Up-Design-Unreal-Engine-5-Game-3-hex { color: #020659; }
.level-Up-Design-Unreal-Engine-5-Game-4-hex { color: #010326; }
.level-Up-Design-Unreal-Engine-5-Game-5-hex { color: #056CF2; }


*{
	font-family: 'IBM Plex Serif', serif;
}

body {
    background-color: black;
}

nav {
    margin-top: -12px;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 40px;
    background-color: #000032;
}

h2 {
    color: #056CF2;

}

p {
    position: absolute;
    color: lightskyblue;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 1%;
}

ul {
    display: flex;
    list-style-type: none;    
    justify-content: flex-end;
}

li a {
    text-decoration: none;
    color: #056CF2;
    font-size: 25px;
    display: inline-block;
    padding: 15px 50px 15px;
}

li a:hover {
    background-color:#020873;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #000032;
    color: #056CF2;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: #056CF2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #000032;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:#020873;
}

/* Introduction */

.intro {
    position: relative;
    display: flex;
}

.hacker {
    opacity: 0.05;
    width: 100%;
    height: 700px;
}

.intro-images {
    position: absolute;
    display: inline-flex;
    margin-left: 22.5%;
}

.intro-text {
    display: inline-flex;
    position: absolute;
    color: lightblue;
    font-weight: bold;
    font-size: 50px;
    margin-left: -20%;
}

.smallText {
    margin-top: 20%;
}

.ghost {
    height: 700px;
    max-width: max-content;
    opacity: 0.3;
}

.me {
    width: 25%;
    height: auto;
    margin-left: 20%;
    margin-top: 10%;
}

.text {
    color: white;
    margin-top: 5%;
    animation: text 3s ease-in-out infinite alternate;
}

@keyframes text {
    from {
        text-shadow:
        0 0 5px #040DBF,0 0 10px #040DBF,
        0 0 20px #040DBF, 0 0 40px #040DBF;
    }
      to {
        text-shadow:
        0 0 5px black, 0 0 10px black,
        0 0 20px black, 0 0 40px black;
    }
}

.encourageScrollDown {
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.arrow {
    width: 10%;
    height: auto;
    opacity: 0.1;
}

/* Education */

.workExperience {
    margin-left: 8%;
}

.wEText {
    font-size: 30px;
    font-weight: bold;
}
